page-thread {

}

#introForum {
  background-color: #488aff;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

#titleForum {
  vertical-align: middle;
  text-align: center;
  border: 3px solid #488aff;
  color: white;
}

textarea {
  resize: both;
}
