page-travelforum {

}

.roundbtn {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: #488aff;
  text-align: center;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  box-shadow: 0px 5px 5px #b7bcc0;
}

